
body {
    background-color: #edeff2;
    font-family: "Calibri", "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 450;
  }
  
.topstrip{
    width:95%;
    margin-left:10px;
    /* overflow-y: scroll; */
    position:fixed;
    top:0px;
    height:50px;
    background-color: #9ca5fa;
    color:white;
    text-align: center;
    font-size: 20px;
    font-family: Georgia;
    border-radius: 10px;
}
.topbar{
    display:block;
    width:100%;
    overflow-y: scroll;
    position:fixed;
    top:50px;
    bottom:65px;
}
.rounded-div-bot{
    display:block;
    width:80%;
    border-radius: 5px;
    background-color: rgb(207, 226, 169);
    float:right;
    margin: 10px;
    padding:5px;
    min-height: 1em;
}
.rounded-div{
    display:block;
    width:80%;
    border-radius: 5px;
    margin: 10px;
    padding:5px;
    background-color: lightgray;
    float:left;
}
.inputbox{
    /* outline:; */
    width:95%;
    height:30px;
    position: fixed;
    bottom:25px;
    font-weight: 350;
    margin-left: 10px;
    border-radius: 5px;
    border: solid 2px #9ca5fa ; 
    padding: 5px;
}
.list-group-item-css{
    background-color: rgb(207, 226, 169);
    border: 2px solid rgb(247, 253, 247);  
    padding: 5px;
    border-radius: 10px;
}
.scrolllist{
    height: 200px ;
    overflow-y: scroll;
}